<g>
  <defs>

    {#if (middleRadians > Math.PI / 2) && (middleRadians < 3 * Math.PI / 2)}
      <path
        id={id}
        d="
          M {labelArcEnds.p2x} {labelArcEnds.p2y}
          A {pMRadius} {pMRadius} 1 {arcSweep} 0 {labelArcEnds.p1x} {labelArcEnds.p1y}
        "
      />
    {:else}
      <path
        id={id}
        d="
          M {labelArcEnds.p1x} {labelArcEnds.p1y}
          A {pMRadius} {pMRadius} 0 {arcSweep} 1 {labelArcEnds.p2x} {labelArcEnds.p2y}
        "
      />
    {/if}

  </defs>

  <path
    pointer-events={pointerEvents}
    on:mouseover="fire('mouseover', {event})"
    on:mouseout="fire('mouseout', {event})"
    {fill} {opacity}
    {stroke} stroke-width={strokeWidth} stroke-linecap="square"
    d="
      M {innerArcEnds.p1x} {innerArcEnds.p1y}
      A {innerRadius} {innerRadius} 0 {arcSweep} 1 {innerArcEnds.p2x} {innerArcEnds.p2y}
      L {outerArcEnds.p2x} {outerArcEnds.p2y}
      A {outerRadius} {outerRadius} 1 {arcSweep} 0 {outerArcEnds.p1x} {outerArcEnds.p1y}
      Z
    "
  >
    {#if (description)}
      <title>{description}</title>
    {/if}
  </path>

  <text pointer-events="none" font-size={fontSize} font-family='Helvetica Neue, Helvetica, Arial, sans-serif'>
    <textPath xlink:href="#{id}" dominant-baseline="middle" text-anchor="middle" startOffset="50%" fill={fontColor}>
      {label}
    </textPath>
  </text>

</g>

<script>

  import {getArcEnds} from "@matrx/arc-translators"
  import {getID} from "@matrx/utils"

  export default {

    namespace: 'svg',

    data() {
      return {
        id: getID(),
        arcPathID: getID(),
        opacity: 1,
        label: "",
        fontSize: 1,
      }
    },

    computed: {

      // junk: (s) => {
      //   console.log(s.fill)
      // },

      middleRadians: ({startRadians, endRadians}) => (startRadians + endRadians) / 2,

      // pointerEvents: ({description}) => description ? "all" : "none",
      pointerEvents: ({fill}) => (fill && !(fill==="none")) ? "all" : "none",

      // For the actual arc area
      innerArcEnds: ({innerRadius, centerX, centerY, startRadians, endRadians}) =>
        getArcEnds(innerRadius, centerX, centerY, startRadians, endRadians),
      outerArcEnds: ({outerRadius, centerX, centerY, startRadians, endRadians}) =>
        getArcEnds(outerRadius, centerX, centerY, startRadians, endRadians),

      arcSweep: ({endRadians, startRadians}) => (endRadians - startRadians <= Math.PI) ? "0" : "1",

      // For the line to draw the Label
      pMRadius: ({innerRadius, outerRadius}) => (innerRadius + outerRadius) / 2,
      labelArcEnds: ({pMRadius, centerX, centerY, startRadians, endRadians}) =>
        getArcEnds(pMRadius, centerX, centerY, startRadians, endRadians),


    }
  }
</script>
