<g>
  <!-- the actual dashed goal line -->
  <path
    fill="none" {opacity} stroke={goalAnnotated.goalColor} stroke-width={.5} stroke-linecap="butt" stroke-dasharray="1, 0.5"
    d="
      M {goalLineArcEnds.p1x} {goalLineArcEnds.p1y}
      A {goalAnnotated.radius} {goalAnnotated.radius} 0 {arcSweep} 1 {goalLineArcEnds.p2x} {goalLineArcEnds.p2y}
    "
  />

  <!-- the line for the label -->
  {#if (middleRadians > Math.PI / 2) && (middleRadians < 3 * Math.PI / 2)}  <!-- the bottom of the circle -->
    <defs>
      <path
        id={id}
        pointer-events="none"
        d="
          M {labelArcEnds.p2x} {labelArcEnds.p2y}
          A {goalAnnotated.radius} {goalAnnotated.radius} 1 {arcSweep} 0 {labelArcEnds.p1x} {labelArcEnds.p1y}
        "
      />
    </defs>
  {:else}  <!-- the top of the circle -->
    <defs>
      <path
        id={id}
        pointer-events="none"
        d="
          M {labelArcEnds.p1x} {labelArcEnds.p1y}
          A {goalAnnotated.radius} {goalAnnotated.radius} 0 {arcSweep} 1 {labelArcEnds.p2x} {labelArcEnds.p2y}
        "
      />
    </defs>
  {/if}

  <!-- the label -->
  <text pointer-events="none" font-size={goalFontSize} font-family='-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"'>
    <textPath xlink:href="#{id}" dominant-baseline="middle" text-anchor="middle" startOffset="50%" fill={goalAnnotated.goalColor}>
      {goalAnnotated.label}
    </textPath>
  </text>

</g>

<script>

  import {getArcEnds} from "@matrx/arc-translators"
  import {getID} from "@matrx/utils"

  export default {

    namespace: 'svg',

    data() {
      return {
        id: getID(),
      }
    },

    computed: {

      // junk: (s) => {
      //   console.log(s.goalFontSize)
      // },

      middleRadians: ({startRadians, endRadians}) => (startRadians + endRadians) / 2,

      goalLineArcEnds: ({goalAnnotated, centerX, centerY, startRadians, endRadians}) =>
        getArcEnds(goalAnnotated.radius, centerX, centerY, startRadians, endRadians),

      arcSweep: ({endRadians, startRadians}) => (endRadians - startRadians <= Math.PI) ? "0" : "1",

      labelArcEnds: ({goalAnnotated, centerX, centerY, startRadians, endRadians, goalFontSize}) =>
        getArcEnds(goalAnnotated.radius - .75 * goalFontSize, centerX, centerY, startRadians, endRadians),

    }
  }
</script>
