<g>
  {#each levelConfigAnnotated as level, i}
    <rect x={legendStartX+0.25*scale} y={startY+i*2*scale+0.25*scale} height={keySize} width={keySize} fill={level.color} fill-opacity={level.opacity} stroke={strokeColor} stroke-width={strokeWidth} />
    <text id={level.labelID} x={labelStartX} y={startY+i*2*scale+scale} font-size={scale} text-anchor="left" fill={legendFontColor} text-rendering="geometricPrecision"
        font-family='Helvetica Neue, Helvetica, Arial, sans-serif'>
      {level.label}
    </text>
    <text id={level.descriptionID} x={descriptionStartX} y={startY+i*2*scale+scale} font-size={scale} text-anchor="left" fill={legendFontColor} text-rendering="geometricPrecision"
        font-family='Helvetica Neue, Helvetica, Arial, sans-serif'>
      {level.description}
    </text>
  {/each}
</g>

<script>

  export default {

    namespace: 'svg',

    data() {
      return {
        dirty: true,
        scale: 1,
        margin: 1.0 / 2,
        labelDescriptionRatio: 1.0 / 4,
      }
    },

    onupdate() {
      let levelConfigAnnotated = this.get().levelConfigAnnotated

      let maxLabelWidth = 0
      let maxDescriptionWidth = 0
      for (var level of levelConfigAnnotated) {
        level.labelWidth = document.getElementById(level.labelID).getBBox().width
        level.descriptionWidth = document.getElementById(level.descriptionID).getBBox().width
        if (level.labelWidth > maxLabelWidth) {
          maxLabelWidth = level.labelWidth
        }
        if (level.descriptionWidth > maxDescriptionWidth) {
          maxDescriptionWidth = level.descriptionWidth
        }
      }
      let scale = this.get().textWidth / (maxLabelWidth + maxDescriptionWidth + 1)
      if (scale > this.get().maxFontSize) {
        scale = this.get().maxFontSize
      }

      let labelDescriptionRatio = maxDescriptionWidth ? maxLabelWidth / maxDescriptionWidth : 0

      this.set({scale, labelDescriptionRatio})
    },

    computed: {

      junk: (s) => {
        // console.log(s.maxFontSize)
        // console.log(s.scale)
      },

      // margin: ({scale}) => scale / 8,
      legendStartX: ({radarSize}) => radarSize + 2,
      keySize: ({scale}) => scale * 0.8,
      labelStartX: ({scale, legendStartX, keySize}) => legendStartX + keySize + scale,
      textWidth: ({labelStartX, radarSize, legendWidth}) => radarSize + legendWidth - 2 - labelStartX,
      descriptionStartX: ({labelStartX, labelDescriptionRatio, textWidth}) => labelStartX + labelDescriptionRatio * textWidth,

      startY: ({levelConfigAnnotated, scale, radarSize}) => (radarSize - (2 * scale * levelConfigAnnotated.length)) / 2,

    }
  }
</script>
