<svg version="1.1" viewBox="0 {viewBoxStartY} {radarSize+legendWidth} {viewBoxHeight}" preserveAspectRatio="xMinYMin meet">

  <!-- Center. Defaults to MatrX logo -->
  {#if showLogo}
    <circle cx={centerX} cy={centerY} r={innerRadius} fill={_logoBackgroundColor} />
    <svg xmlns="http://www.w3.org/2000/svg" x={centerX-innerRadius} y={centerY-innerRadius} width={innerRadius*2} height={innerRadius*2} viewBox="0 0 {innerRadius*2} {innerRadius*2}">
      <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="-50, -50, 398, 215">
        <g id="Layer_1" transform="translate(-156, -244)">
          <path d="M156,291 L156,244 L166,244 L182,266 L197,244 L207,244 L207,292 L197,292 L197,261 L185,277 L178,277 L166,261 L166,292 L156,292 z" fill={_logoMainColor} />
          <path d="M253.871,270 L246.742,270 L250.307,262.094 L253.871,254.188 L257.435,262.094 L261,270 z M257,244 L250,244 L230,292 L238,292 L244,276 L263,276 L270,292 L278,292 z" fill={_logoMainColor}/>
          <path d="M363,265 L363,250 L376,250 C376,250 382,251 382,258 C382,265 377,265 377,265 z M379,270 C379,270 389,270 389,258 C389,246 378,244 378,244 L356,244 L356,292 L363,292 L363,272 L372,272 L386,292 L395,292 z" fill={_logoMainColor}/>
          <path d="M311,292 L318,292 L318,250 L331,250 L331,244 L298,244 L298,250 L311,250 z" fill={_logoMainColor}/>
          <path d="M420,244 L432,244 L440,257 L442,257 L450,244 L462,244 L447,265 L447,267 L464,292 L453,292 L442,275 L440,275 L429,292 L418,292 L435,267 L435,265 z" fill="#298567"/>
          <path d="M225.215,352.083 L207.7,368.998 L190.785,351.482 L208.3,334.567 z" fill="#B8FFE6"/>
          <path d="M402.715,352.083 L385.2,368.998 L368.285,351.482 L385.8,334.567 z" fill="#1F664F"/>
          <path d="M260.715,352.083 L243.2,368.998 L226.285,351.482 L243.8,334.567 z" fill="#86E4C2"/>
          <path d="M296.215,352.083 L278.7,368.998 L261.785,351.482 L279.3,334.567 z" fill="#3DCC9E"/>
          <path d="M331.715,352.083 L314.2,368.998 L297.285,351.482 L314.8,334.567 z" fill="#31A27D"/>
          <path d="M438.215,352.083 L420.7,368.998 L403.785,351.482 L421.3,334.567 z" fill="#154738"/>
          <path d="M367.215,352.083 L349.7,368.998 L332.785,351.482 L350.3,334.567 z" fill="#298567"/>
        </g>
      </svg>
    </svg>
  {/if}

  {#if title && showTitle}
    <text text-anchor="middle" x={centerXViewBox} y={-2*titleHeight/4} font-size=5 font-family='Helvetica Neue, Helvetica, Arial, sans-serif'>
      {title}
    </text>
    {#if subTitle && showSubTitle}
      <text text-anchor="middle" x={centerXViewBox} y={-1*titleHeight/8} font-size=3 font-family='Helvetica Neue, Helvetica, Arial, sans-serif'>
        {subTitle}
      </text>
    {/if}
  {/if}

  {#each disciplinesAnnotated as discipline}
    <!-- Discipline labels for measuring scale -->
    <text dy="-100" id={discipline.id} font-size={disciplineFontSize} font-family='Helvetica Neue, Helvetica, Arial, sans-serif'>
      {discipline.label}
    </text>

    {#each discipline.practices as practice}
      <!-- Practice labels for measuring scale -->
      <text dy="-100" id={practice.id} font-size={practiceFontSize} font-family='Helvetica Neue, Helvetica, Arial, sans-serif'>
        {practice.label}
      </text>

      <!-- Goal labels for measuring scale -->
      {#if practice.goal}
        <text dy="-100" id={practice.goal.id} font-size={goalFontSize} font-family='Helvetica Neue, Helvetica, Arial, sans-serif'>
          {practice.goal.label}
        </text>
      {/if}

      <!-- Slices -->
      <!--
      on:assessment-mouseover="set({highlightedTeamID: event.assessment.teamID, subTitle: lookupTeamByID[event.assessment.teamID].label})"
      on:assessment-mouseout="set({highlightedTeamID: null, subTitle: null})"
      -->
      <Slice
        on:assessment-mouseover="assessmentMouseover(event)"
        on:assessment-mouseout="assessmentMouseout(event)"
        {centerX}
        {centerY}
        startRadians={practice.startRadians}
        endRadians={practice.endRadians}
        {innerRadius}
        outerRadius={outerRadius-disciplineBandHeight}
        levels={practice.levels}
        assessmentData={practice.assessmentData}
        label={practice.label}
        description={practice.description}
        goal={practice.goal}
        {goalFontSize}
        {goalColor}
        labelBandHeight={practiceBandHeight}
        stroke={practiceStroke}
        {strokeWidth}
        {fontColor}
        fontSize={practiceFontSize}
        {levelConfigAnnotated}
      />
    {/each}

    <!-- Discipline Label -->
    <Arc
      {centerX}
      {centerY}
      startRadians={discipline.startRadians}
      endRadians={discipline.endRadians}
      innerRadius={outerRadius-disciplineBandHeight}
      {outerRadius}
      labelBandHeight={disciplineBandHeight}
      fill="#FFFFFF"
      strokeWidth={strokeWidth * 2}
      stroke={disciplineStroke}
      label={discipline.label}
      description={discipline.description}
      fontColor={diciplineFontColor}
      fontSize={disciplineFontSize}
    />

    <!-- Dicipline Area Arc -->
    <Arc
      {centerX}
      {centerY}
      startRadians={discipline.startRadians}
      endRadians={discipline.endRadians}
      {outerRadius} {innerRadius}
      fill="none"
      strokeWidth={strokeWidth * 2}
      stroke={disciplineStroke}
    />

  {/each}

  <Legend
    {levelConfigAnnotated}
    maxFontSize={disciplineFontSize}
    {strokeWidth}
    strokeColor={practiceStroke}
    {legendFontColor}
    {legendWidth}
    {radarSize}
  />

</svg>

<script>

  import {getID} from "@matrx/utils"
  import {getBackgroundAndTextColor} from "@matrx/color-utils"
  import sortOn from "sort-on"

  export default {

    tag: 'matrx-radar',

    namespace: 'svg',

    data() {
      return {
        _logoBackgroundColor: "#FFFFFF",
        _logoMainColor: "#808080",
        title: "MatrX DevSecOps Radar",
        subTitle: null,
        showTitle: true,
        showSubTitle: true,
        titleHeight: 10,
        showLogo: true,
        innerRadius: 10,
        radarSize: 100, // height and width
        legendWidth: 50,
        descriptionsInLegend: true,
        practiceStroke: "#999999",
        disciplineStroke: "#555555",
        strokeWidth: 0.15,
        baseColor: "#2E8468",
        fontColor: "#22644E",
        practiceFontSize: 1,
        disciplineFontSize: 1,
        goalFontSize: 1,
        highlightedTeamID: null,
        legendFontColor: "#006de0",
        diciplineFontColor: "#184738",
        disciplines: [
          {
            discipline: "No data",
            practices: [
              {practice: "Instructions: https://github.com/morganmaccherone/matrx-radar/blob/master/README.md", levels: [
                {portion: 1},
              ]},
            ]
          },
          {
            discipline: "No data",
            practices: [
              {practice: "Editable example: TBD", levels: [
                {portion: 1},
              ]},
            ]
          },
        ]
      }
    },

    methods: {
      assessmentMouseover(e) {
        let {lookupTeamByID} = this.get()
        let subTitle = lookupTeamByID[e.assessment.teamID].label
        this.set({
          highlightedTeamID: e.assessment.teamID,
          subTitle: subTitle,
        })
        const event = new CustomEvent('assessment-mouseover', {
          detail: e.assessment,
        	bubbles: true,
        	cancelable: true,
        	composed: true, // makes the event jump shadow DOM boundary
        })
        let source = e.originalEvent.event.target
        source.dispatchEvent(event)
      },
      assessmentMouseout(e) {
        this.set({highlightedTeamID: null, subTitle: null})
        const event = new CustomEvent('assessment-mouseout', {
          detail: e.assessment,
          bubbles: true,
          cancelable: true,
          composed: true, // makes the event jump shadow DOM boundary
        })
        let source = e.originalEvent.event.target
        source.dispatchEvent(event)
      },
    },

    oncreate() {
      let disciplinesAnnotated = this.get().disciplinesAnnotated

      let maxPracticeWidth = 0
      let maxPracticeHeight = 0
      let maxDisciplineWidth = 0
      let maxDisciplineHeight = 0
      let maxGoalWidth = 0
      let maxGoalHeight = 0

      for (let discipline of disciplinesAnnotated) {
        maxDisciplineWidth = Math.max(maxDisciplineWidth, document.getElementById(discipline.id).getBBox().width)
        maxDisciplineHeight = Math.max(maxDisciplineHeight, document.getElementById(discipline.id).getBBox().height)
        for (let practice of discipline.practices) {
          maxPracticeWidth = Math.max(maxPracticeWidth, document.getElementById(practice.id).getBBox().width)
          maxPracticeHeight = Math.max(maxPracticeHeight, document.getElementById(practice.id).getBBox().height)
          if (practice.goal) {
            maxGoalWidth = Math.max(maxGoalWidth, document.getElementById(practice.goal.id).getBBox().width)
            maxGoalHeight = Math.max(maxGoalHeight, document.getElementById(practice.goal.id).getBBox().height)
          }
        }
      }

      let practiceFontSize = Math.min(this.get().practiceMaxWidth / maxPracticeWidth, this.get().practiceMaxHeight / maxPracticeHeight)
      let disciplineFontSize = Math.min(this.get().disciplineMaxWidth / maxDisciplineWidth, this.get().disciplineMaxHeight / maxDisciplineHeight)
      let goalFontSize = Math.min(this.get().goalMaxWidth / maxGoalWidth, this.get().goalMaxHeight / maxGoalHeight)

      if (practiceFontSize > disciplineFontSize) {
        practiceFontSize = disciplineFontSize
      }

      if (goalFontSize > practiceFontSize) {
        goalFontSize = practiceFontSize
      }

      this.set({disciplineFontSize, practiceFontSize, goalFontSize})

    },

    computed: {

      // junk: (s) => {
      //   console.log(s.disciplineMaxWidth, s.practiceMaxWidth)
      // },

      viewBoxStartY: ({title, showTitle, titleHeight}) => (title && showTitle) ? -1 * titleHeight : 0,
      viewBoxHeight: ({radarSize, title, showTitle, titleHeight}) => (title && showTitle) ? radarSize + titleHeight : radarSize,
      centerXViewBox: ({radarSize, legendWidth}) => (radarSize + legendWidth) / 2,
      centerX: ({radarSize}) => radarSize / 2,
      centerY: ({radarSize}) => radarSize / 2,
      outerRadius: ({radarSize}) => radarSize / 2 - 0.5,

      disciplineBandHeight: ({radarSize}) => 0.07 * radarSize,
      practiceBandHeight: ({radarSize}) => 0.06 * radarSize,

      practiceCount: ({disciplines}) => {
        let practiceCount = 0
        for (let discipline of disciplines) {
          for (let practice of discipline.practices) {
            practiceCount++
          }
        }
        return practiceCount
      },

      sliceWidth: ({practiceCount}) => Math.PI * 2 / practiceCount,

      disciplineMaxWidth: ({outerRadius, disciplineBandHeight, sliceWidth}) => 0.95 * sliceWidth * (outerRadius - disciplineBandHeight / 2),
      practiceMaxWidth: ({outerRadius, disciplineBandHeight, practiceBandHeight, sliceWidth}) => 0.95 * sliceWidth * (outerRadius - disciplineBandHeight - practiceBandHeight / 2),
      goalMaxWidth: ({practiceMaxWidth}) => 0.80 * practiceMaxWidth,
      disciplineMaxHeight: ({disciplineBandHeight}) => 0.80 * disciplineBandHeight,
      practiceMaxHeight: ({practiceBandHeight}) => 0.80 * practiceBandHeight,
      goalMaxHeight: ({practiceMaxHeight}) => practiceMaxHeight,

      levelConfigAnnotated: ({levelConfig, baseColor, descriptionsInLegend}) => {
        let levelConfigAnnotated = []
        let baseColorCount = 0
        for (let level of levelConfig) {
          if (! level.color)
            baseColorCount++
        }
        let i = 0
        for (let level of levelConfig) {
          let rawColor = level.color || baseColor
          let alpha = 1
          if (! level.color) {
            alpha = (baseColorCount - i - 1) / (baseColorCount - 1)
          }
          if (! level.description || ! descriptionsInLegend) {
            level.description = ""
          }
          level.color = getBackgroundAndTextColor(rawColor, alpha).bgColor
          level.labelID = getID()
          level.descriptionID = getID()
          level.levelIndex = i
          levelConfigAnnotated.push(level)
          i++
        }
        return levelConfigAnnotated
      },

      lookupLevelByID: ({levelConfigAnnotated}) => {
        let lookup = {}
        for (let level of levelConfigAnnotated) {
          lookup[level["_entityID"]] = level
        }
        return lookup
      },

      lookupTeamByID: ({teams}) => {
        let lookup = {}
        let i = 0
        for (let team of teams) {
          team.teamIndex = i
          lookup[team["_entityID"]] = team
          i++
        }
        return lookup
      },

      disciplinesAnnotated: ({highlightedTeamID, levelConfigAnnotated, lookupLevelByID, lookupTeamByID, disciplines, assessmentData, sliceWidth, innerRadius, outerRadius, practiceBandHeight, disciplineBandHeight}) => {
        let disciplinesAnnotated = disciplines
        let currentAngle = 0
        let lookupByPracticeID = {}
        for (let discipline of disciplines) {
          discipline.id = getID()
          discipline.startRadians = currentAngle
          for (let practice of discipline.practices) {
            practice.assessmentData = []
            lookupByPracticeID[practice["_entityID"]] = practice
            practice.id = getID()
            practice.startRadians = currentAngle
            if (practice.goal) {
              practice.goal.id = getID()
            }
            currentAngle += sliceWidth
            practice.endRadians = currentAngle
          }
          discipline.endRadians = currentAngle
        }

        // Populate assessmentData inside each practice
        for (let row of assessmentData) {
          let level = lookupLevelByID[row.levelID]
          row.levelIndex = level.levelIndex
          if (! highlightedTeamID || row.teamID === highlightedTeamID) {
            row.color = level.color
          } else {
            row.color = "#666666"
          }
          row.opacity = 1
          let team = lookupTeamByID[row.teamID]
          row.teamIndex = team.teamIndex
          let practice = lookupByPracticeID[row.practiceID]
          if (practice) {
            practice.assessmentData.push(row)
          }
        }
        // Sort the assessmentData levelIndex and then teamIndex. Calculate inner and outer radius for each assessmentData row.
        for (let practiceID in lookupByPracticeID) {
          let practice = lookupByPracticeID[practiceID]
          practice.assessmentData = sortOn(practice.assessmentData, ['levelIndex', 'teamIndex'])
          let r = innerRadius
          let arcHeight = (outerRadius - practiceBandHeight - disciplineBandHeight - innerRadius) / practice.assessmentData.length
          for (let row of practice.assessmentData) {
            row.innerRadius = r
            row.outerRadius = r + arcHeight
            r += arcHeight
          }

          // Set percentage for goal excluding level so marked
          if (! practice.goal.percentage) {
            let total = 0
            let totalExcludedFromGoal = 0
            // Loop through levels summing up portions excluded from goal
            let j = 0
            for (let assessment of practice.assessmentData) {
              total++
              if (lookupLevelByID[assessment.levelID].excludeFromGoal) {
                totalExcludedFromGoal++
              }
              j++
            }
            practice.goal.percentage = 1.0 - totalExcludedFromGoal / total
          }

        }

        return disciplinesAnnotated
      },

      goalColor: ({goalColor, levelConfigAnnotated}) => {
        if (! goalColor) {
          return levelConfigAnnotated[0].color
        } else {
          return goalColor
        }
      },

    },

    components: {
      Slice: './Slice.html',
      Arc: './Arc.html',
      Legend: './Legend.html',
    },

  }

</script>
