<g>

  <!-- Assessment Data Arcs -->
  {#each assessmentData as assessment}
    <Arc
      on:mouseover="fire('assessment-mouseover', {originalEvent: event, assessment})"
      on:mouseout="fire('assessment-mouseout', {originalEvent: event, assessment})"
      {centerX} {centerY} {startRadians} {endRadians}
      innerRadius={assessment.innerRadius} outerRadius={assessment.outerRadius}
      fill={assessment.color} opacity={assessment.opacity} {stroke} {strokeWidth}
    />
  {/each}

  <!-- Data Area Arc -->
  <Arc
    {centerX} {centerY} {startRadians} {endRadians}
    {innerRadius} outerRadius={dataOuterRadius}
    {strokeWidth} {stroke} fill="none"
  />

  <!-- Label Arc -->
  <Arc
    {centerX} {centerY} {startRadians} {endRadians}
    innerRadius={dataOuterRadius} {outerRadius}
    {fontColor} {fontSize} {strokeWidth} {stroke} fill="#FFFFFF"
    {label} {description}
  />

  {#if goal}
    <Goal {centerX} {centerY} {startRadians} {endRadians} {goalAnnotated} {goalFontSize} />
  {/if}

</g>

<script>

  export default {

    namespace: 'svg',

    data() {
      return {
      }
    },

    methods: {
      assessmentMouseover(event) {
        this.fire('assessment-mouseover', {event})
      },
      assessmentMouseout(event) {
        this.fire('assessment-mouseout', {event})
      },
    },

    computed: {

      // junk: (s) => {
      //   console.log(s.goalFontSize)
      // },

      dataOuterRadius: ({outerRadius, labelBandHeight}) => outerRadius - labelBandHeight,

      goalAnnotated: ({goal, goalColor, innerRadius, dataOuterRadius}) => {
        let goalAnnotated = goal
        if (goal) {
          if (goal.percentage) {
            goalAnnotated.radius = innerRadius + (dataOuterRadius - innerRadius) * goal.percentage
          } else {
            goalAnnotated.radius = dataOuterRadius
          }
          if (! goal.label) {
            //default label
            goalAnnotated.label = ""
          }
          if (! goal.goalColor) {
            //default color for goal line and text
            goalAnnotated.goalColor = goalColor
          }
        }
        return goalAnnotated
      },

    },

    components: {
      Arc: './Arc.html',
      Goal: './Goal.html',
    },

  }

</script>
